[data-theme="Light Mode"] {
  --tag-background-color: #e0e4ea;
  --tag-text-color: #2b303b;
}

[data-theme="Dark Mode"] {
  --tag-background-color: #525866;
  --tag-text-color: #fff;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  position: relative;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--tag-background-color);
}

.shake {
  animation: shake 1.5s infinite;
  cursor: pointer;
}

.tagText {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: var(--tag-text-color);
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
