.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  position: relative;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #e0e4ea;
}

.shake {
  animation: shake 1.5s infinite;
  cursor: pointer;
}

.tagText {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #2b303b;
}

.deleteTagButton {
  display: block;
  position: absolute;
  top: -2px;
  right: 2px;
  height: 8px;
  width: 1px;
  background-color: #2b303b;
  transform: rotate(45deg);
  cursor: pointer;
}

.deleteTagButton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 1px;
  background-color: #2b303b;
  transform: rotate(95deg);
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
