.menu {
  margin: 12px 16px;
  display: flex;
  flex-direction: column;
  width: 19.4%;
  height: 100%;
}

.logoContainer {
  margin: 12px 0;
}

.logo {
  cursor: pointer;
}

.buttonsContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.verticalDivider {
  position: absolute;
  top: 0;
  left: 18%;
  width: 1px;
  background-color: #e0e4ea;
  height: 100%;
}

.menuText {
  padding-left: 12px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #717784;
}

.scrollableContainer {
  max-height: 67vh;
  overflow-y: auto;
  scrollbar-width: none;
}
