.button {
  height: 40px;
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  color: #2b303b;
}

.buttonHover {
  background-color: #f3f5f8;
  transition: 0.3s;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(28%) sepia(11%) saturate(178%) hue-rotate(186deg)
    brightness(94%) contrast(94%);
}

.iconHover {
  filter: invert(42%) sepia(57%) saturate(5740%) hue-rotate(216deg)
    brightness(101%) contrast(94%);
  transition: 0.4s;
}
