[data-theme="Light Mode"] {
  --notes-title-color: #0e121b;
  --note-date-color: #2b303b;
  --note-hover-bg-color: #f3f5f8;
  --inner-color: #525866;
}

[data-theme="Dark Mode"] {
  --notes-title-color: #fff;
  --note-date-color: #cacfd8;
  --note-hover-bg-color: #232530;
  --inner-color: #8d97af;
}

.notesList {
  display: flex;
  flex-direction: column;
  margin: 20px 16px 0 32px;
}

.scrollableContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.newNoteButton {
  margin-bottom: 16px;
  border: none;
  width: 100%;
  height: 41px;
  background-color: #335cff;
  border-radius: 8px;

  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}

.emptyListContainer {
  margin-top: 12px;
  padding: 12px 16px;

  background-color: var(--note-hover-bg-color);
  border-radius: 8px;
}

.emptyListText {
  color: var(--notes-title-color);
  margin: 0;
  font-size: 15px;
}

.completeNote {
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 8px;

  &:hover {
    background-color: var(--note-hover-bg-color);
    cursor: pointer;
    transition: 0.4s;
  }
}

.activeNote {
  background-color: var(--note-hover-bg-color);
}

.noteTitle {
  justify-self: start;
  text-align: left;
  margin: 0;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--notes-title-color);
}

.noteDate {
  justify-self: start;
  text-align: left;
  margin: 12px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: var(--note-date-color);
}

.newNote {
  background-color: var(--note-hover-bg-color);
  cursor: pointer;
  transition: 0.4s;
}

.lazyList {
  scrollbar-width: none;
}

.createNoteButton {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--notes-title-color);
  font-size: 15px;
}
.mobileHeaderFetures {
  display: none;
}

@media (max-width: 1439px) {
  //1201
  .emptyListText {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  //993
  .notesList {
    margin: 20px 10px 0 10px;
  }

  .notesList {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    height: calc(100vh - 210px);
  }

  .scrollableContainer {
    margin-top: 16px;
    position: relative;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }

  .newNoteButton {
    position: absolute;
    margin: 0;
    top: 70%;
    right: 35px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      z-index: 10;
    }

    &::before {
      width: 18px;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 18px;
    }
  }

  .newNoteButtonText {
    display: none;
  }

  .mobileHeaderFetures {
    display: block;
  }

  .notesListMobileHeaderText {
    margin: 16px 0;
    color: var(--notes-title-color);
    font-weight: 600;
    font-size: 29px;
    line-height: 100%;
  }

  .innerColor {
    color: var(--inner-color);
  }

  .notesListMobileHeaderDescription {
    color: var(--notes-title-color);
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 100%;
  }
}

@media (max-width: 992px) {
  //769
}

@media (max-width: 768px) {
  //577
}

@media (max-width: 576px) {
  .newNoteButton {
    top: 80%;
    right: 16px;
    width: 48px;
    height: 48px;
  }

  .notesListMobileHeaderText {
    margin: 16px 0;
    color: var(--notes-title-color);
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
  }

  .notesList {
    height: calc(100vh - 200px);
  }

  .mobileHeaderFetures {
    display: block;
  }
}
