[data-theme="Light Mode"] {
  --notePage-background-color: #f3f5f8;
  --notePage-content-background-color: #fff;
}

[data-theme="Dark Mode"] {
  --notePage-background-color: #232530;
  --notePage-content-background-color: #0e121b;
}

.notePageDesctopContainer {
  display: flex;
  position: relative;
}

.notePageDesctopContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 24.4% 51.2% 24.4%;
  grid-template-rows: 81px 1fr;
}

.headerContainer {
  grid-column: 1/4;
}

.outletContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 16px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.noteActionButtonsContainer {
  width: 100%;
  box-sizing: border-box;
  grid-column: 3/4;
  grid-row: 2/3;
}

.settingsPageContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 24.4% 51.2% 24.4%;
  grid-template-rows: 81px 1fr;
}

.settingsPageHeaderContainer {
  grid-column: 1/4;
}

.settingsPageOutletContainer {
  position: relative;
}

.notePageMobileContainer {
  display: none;
}

@media (max-width: 1200px) {
  //993
  .notePageDesctopContainer {
    display: none;
  }
  .notePageMobileContainer {
    display: block;
    background-color: var(--notePage-background-color);
  }

  .notePageMobileContentContainer {
    padding: 24px;
    width: 100%;
    background-color: var(--notePage-content-background-color);
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
  }

  .searchPageMobileContentContainer {
    margin-top: 0;
    padding: 24px;
    width: 100%;
    background-color: var(--notePage-content-background-color);
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
  }

  .searchResultsNotesListHeaderText {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--notes-title-color);
  }

  .searchResultsNotesListContainer {
    height: calc(100vh - 140px);
  }

  .headerText {
    margin: 0;
    padding-top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: var(--header-text-color);
  }

  .tagsPageTagsListContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    height: 100%;
  }

  .notePageMobileOutletContainer {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  //769
}

@media (max-width: 768px) {
  //577
}

@media (max-width: 576px) {
  .notePageMobileContentContainer {
    padding: 20px 13px;
  }

  .searchPageMobileContentContainer {
    padding: 20px 13px;
  }
}
