.noteActionButtons {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 992px) {
  //769
  .noteActionButtons {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  //577
}

@media (max-width: 576px) {
}
